<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reviewStyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="info">
        <h1> {{review.title}}</h1>
        <p>
            {% for i in range(review.rating) %}
            <span class="fa fa-star checked"></span>
            {% endfor %}
        </p>
        <p>{{review.text}}</p>
    </div>
</body>
</html>