h1{
    display: flex;
    justify-content: center;
}
.add_review{
    position: absolute;
    right: 100px;
    top: 18px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border:1px solid black;
    text-align: center;
}